beautifulsoup4==4.8.2
bs4==0.0.1
html5lib==1.0.1
ipython==7.13.0
ipykernel==5.1.4
ipython-genutils==0.2.0
Jinja2==2.11.1
matplotlib==3.2.0
numpy==1.18.1
pandas==1.0.1
pickleshare==0.7.5
requests==2.23.0
scikit-learn==0.22.2.post1
scikit-optimize==0.7.4
scipy==1.4.1
seaborn==0.10.0
sklearn==0.0
soupsieve==2.0
statsmodels==0.11.1
urllib3==1.25.8
virtualenv==20.0.4
webencodings==0.5.1